body,
.gb_Ed.gb_Vd.gb_Ld,
.a-s-tb-pa,
.a-ub-D,
.a-Mg-V-T,
.y-C,
span.y-C-H-Sb,
.s55KNe:not(.KBj6Qd) .GZwC2b .jGNTYb,
.aabwZd:not(.KBj6Qd) .GZwC2b {
  color: #bdc1c6;
  background-color: #202124;
}

.gb_Me,
.gb_Me.gb_Ne,
.cloudsearch_suggestion_overlay,
.a-Va-Zb-Q-j,
.a-Va-Zb-nb-j,
form.a-Va-Zb-j,
.h-uj.a-Va-Zb-mb.Hb-ja-hc {
  background: #3a3c40;
  border-radius: 13px;
}

.y-C-Ed-V,
.N7iPof.O5x1db.i4aPLb,
.a-ub-Gd,
.gb_Za.gb_C.gb_i.gb_0a.gb_ja {
  background: #3a3c40;
}

.gb_Za.gb_C.gb_i.gb_0a.gb_ja * {
  border: 0;
}

.gb_Bb.gb_Bb,
.gb_Cb.gb_Cb,
.gb_ub.gb_ub,
.h-w.h-w-Xi.a-w,
.lb-k.a-cg-k,
a-w {
  background-color: #3a3c4080;
  backdrop-filter: blur(30px);
  color: whitesmoke;
}
.h-w.h-w-Xi.a-w::after {
  content: none;
  background-color: #00000000;
}
.a-w-x * {
  color: whitesmoke;
}
.a-w-x svg {
  fill: white;
}
.lb-k-V {
  background: none;
}

a#gb_71,
.gb_zb,
.gb_kb.gb_lb,
.gb_Zb,
span.a-s-T,
.Q5txwe,
.eAQ1W,
.lb-k-V-r,
div#empty-view-content-trash,
.I2rTXb,
.h-sb-Ic.h-R-w-d-ff,
.iZz7md.M3pype {
  color: #e3e6eb;
  /*#bdc1c6*/
}
.O5x1db,
.KL4NAf,
.o-Yc-o-T {
  color: #bdc1c6;
}

.GZwC2b * {
  background-color: #171717;
}

input#\:ah\.ie {
  background-color: #f5f5dc00;
  border: none;
}
.lb-k-x,
.g-Gh {
  background-color: #fff3;
  border-radius: 100px;
}
.Vl9rfc,
.Qdaobf {
  color: #777c83;
}

.a-U-ye-ha > .a-U-J {
  background-color: #3a3c40;
}

.ml-Pr-kg {
  display: none;
}

.s55KNe .jGNTYb,
.RwLyCe,
.L202Xe {
  background-color: #3a3c4061;
  border: 1px solid #ffffff42;
}

.WYuW0e.RDfNAe.GZwC2b.dPmH0b div div,
.a-w-x *:hover {
  background-color: #171717;
}
.N7iPof.O5x1db.i4aPLb {
  border-radius: 0;
  max-height: 35px !important;
  border-bottom: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.iZz7md {
  margin-top: -8px;
}

.ak25Me,
.a-U-xc > .a-da-fc-Ug::after,
.a-U-xc > .a-da-ji::before,
.a-U-xc > .a-da-Ul::before,
.y-C,
.y-C-Ed-V {
  border-bottom: 1px solid #3d3f43;
}
.a-s-Ba-Ak,
.a-ub-Gd,
.h-ra-B.h-ra-B-nc.h-ra-B-Qd {
  border: 0;
}
.a-ub-sc-oa,
.wbg7nb,
.a-ub-D {
  border: 1px solid #3d3f43;
  border-top-left-radius: 7px;
}
.aabwZd .WYuW0e {
  border-bottom: 1px solid #3c3c3c;
}
